@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-accent: #3b82f6;
  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
}

@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-progress {
  animation: progress 1.5s infinite ease-in-out;
}

/* Custom Scrollbar for Dropdowns */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Slightly wider */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f8fafc; /* Visible track */
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* Darker thumb */
  border-radius: 20px;
  border: 2px solid #f8fafc; /* Padding around thumb */
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}
